@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* --main-card-bg-color: #27272a; */
    --main-border-color: #808080;
    --main-bg-color: #121212;
    --main-card-bg-color: rgba(104, 107, 255, 0.1);

    --main-text-color: #f5f5f5;
    --secondary-text-color: rgb(192, 193, 255);

    --main-border-color: #808080;
}

::-webkit-scrollbar-track {
    background: transparent;
    height: 1px;
}

.night-theme {
    --main-bg-color: #020111;
    --main-text-color: #f5f5f5;
    --secondary-text-color: #969699;

    --main-card-bg-color: rgba(104, 107, 255, 0.1);
    --main-text-color: #f5f5f5;
    --secondary-text-color: rgb(192, 193, 255);
}

.day-theme {
    --main-bg-color: #82C8E5;
    --main-text-color: #162A33;
    --secondary-text-color: #345766;

    --main-card-bg-color: rgba(109, 166, 187, 0.1);
    --main-text-color: #f5f5f5;
    --secondary-text-color: rgb(154, 228, 255);
}

* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.space-between {
    justify-content: space-between;
}

.flex-container-horizontal {
    flex-direction: row;
    gap: 20px;
}

.flex-container-horizontal-no-gaps {
    flex-direction: row;
}

.main {
    font-size: 1rem;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    color: var(--main-text-color);
    background-size: cover;
    min-height: 100vh;
}

.components {
    display: grid;
    grid-template-areas: "hourly-forecast hourly-forecast hourly-forecast"
        "days-forecast sunset-card sunrise-card"
        "days-forecast feelslike-card humidity-card"
        "days-forecast pressure-card visibility-card";
    gap: 10px;
}

.hourly-forecast {
    grid-area: hourly-forecast;
}

.gif {
    grid-area: gif;
}

.days-forecast {
    grid-area: days-forecast;
}

.sunset-card {
    grid-area: sunset-card;
}

.sunrise-card {
    grid-area: sunrise-card;
}

.feelslike-card {
    grid-area: feelslike-card;
}

.humidity-card {
    grid-area: humidity-card;
}

.pressure-card {
    grid-area: pressure-card;
}

.visibility-card {
    grid-area: visibility-card;
}

.container {
    padding: 1rem;
    text-align: center;
    gap: 50px;
}

.search-bar {
    padding: 0.5rem;
}

.hours {
    max-width: 720px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    scrollbar-color: #696969 transparent;
    scrollbar-width: thin;
    user-select: none;
}

.hours-temp {
    font-size: 1.25rem;
}

.card {
    background-color: var(--main-card-bg-color);
    border-radius: 20px;
    padding: 1rem;
}

.card-content {
    font-size: 1.25rem;
    font-weight: 700;
}

.heading {
    font-weight: 700;
    font-size: 5rem;
}

.sub-heading {
    font-size: 1.25rem;
    font-weight: 400;
}

.sub-heading-card {
    font-size: 1rem;
}

.info {
    color: var(--secondary-text-color);
}

#form {
    background-color: var(--main-card-bg-color);
    border-radius: 20px;
}

.input {
    font-size: 1rem;
    color: inherit;
    background-color: transparent;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    max-width: 150px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.input:focus-visible {
    outline: none;
}

.button {
    font-size: 1.25rem;
    color: inherit;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: none;
}


.gif {
    width: auto;
    height: 300px;
}

svg {
    vertical-align: middle;
}

svg:hover {
    cursor: pointer;
}